STORE_CORS=http://localhost:8000
ADMIN_CORS=http://localhost:5173,http://localhost:9000
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000
REDIS_URL=redis://localhost:6379
# Generate strong unique values: openssl rand -hex 32
JWT_SECRET=
COOKIE_SECRET=
DATABASE_URL=
DB_NAME=medusa-backend
ADMIN_EMAIL=admin@medusa-test.com
ADMIN_PASSWORD=
